<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% if post %}
    {{ post.id }}
    {{ post.title }} <br />
    <a href="../list">목록</a>
    {% if post.writer == request.user %}
        <a href="../update/{{post.id}}">수정</a>
        <a href="../delete/{{post.id}}">삭제</a> <br />
    {% endif %}

    <form action="/reply/create/{{post.id}}" method="post">
        {% csrf_token %}
        {{ replyForm }}
        <button>댓글달기</button>
    </form>

    {% for reply in post.reply_set.all %}
        {{ reply.contents }}
    {% endfor %}

{% endif %}






</body>
</html>